<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Base.Properties.Settings.YUANYEConnectionString" connectionString="Data Source=27.115.11.118,33410;Initial Catalog=YUANYE;User ID=sa;Password=pwd4SERVER@SH"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>