<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="UI.Properties.Settings.ReportConnectionString" connectionString="Data Source=192.118.1.2;Initial Catalog=YUANYE;User ID=sa;Password=pwd4SERVER@SH;timeout=901"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <UI.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </UI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <UI.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=192.118.1.2;Initial Catalog=YUANYE;user id=sa;password=pwd4SERVER@SH;timeout=901</value>
            </setting>
        </UI.Properties.Settings>
    </applicationSettings>
</configuration>
