<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=140.207.39.226;Initial Catalog=SFNEW;user id=sa;password=pwd4SERVER@SH;timeout=90"/>-->
    <!--<add key="ConnectionString" value="Data Source=YANGJIAY3; Initial Catalog=YUANYE;user id=sa;password=pwd4SERVER@SH;timeout=90"/>-->
    <!--<add key="ConnectionString" value="Data Source=192.118.1.2; Initial Catalog=YUANYE;user id=sa;password=pwd4SERVER@SH;timeout=90"/>-->
    <!--<add key="ConnectionString" value="Data Source=YANGJIAY3;Initial Catalog=SFNEW;user id=sa;password=pwd4SERVER@SH;timeout=90"/>-->
    <add key="ConnectionString" value="Data Source=27.115.11.118;Initial Catalog=YUANYE;user id=sa;password=pwd4SERVER@SH;timeout=90"/>
    <add key="MainTitle" value="Wandering NG 信息管理系统"/>
    <add key="Background" value=""/>
  </appSettings>
  <!--<startup  useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
</configuration>