<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=58.247.154.170;Initial Catalog=SFNEW;"/>-->
    <!--<add key="ConnectionString" value="Data Source=27.115.11.118,33410; Initial Catalog=SPLENDOR;"/>-->
    <add key="ConnectionString" value="Data Source=27.115.11.118,33410;Initial Catalog=YUANYE;"/>
    <!--<add key="ConnectionString" value="Data Source=192.168.1.2;Initial Catalog=YUANYE;"/>-->
    <!--<add key="ConnectionString" value="Data Source=139.196.105.168;Initial Catalog=ROSEMOND;"/>-->
    <!--<add key="ConnectionString" value="Data Source=localhost;Initial Catalog=SFNEW;"/>-->
    <add key="MainTitle" value="Wandering NG 信息管理系统"/>
    <add key="Background" value=""/>
  </appSettings>
  <!--<startup  useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
</configuration>
